.starRatings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  
  .starRatingsTop {
    color: #e7711b;
    padding: 0;
    text-shadow: 0px 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display:block;
    left: 0px;
    overflow: hidden;
  }
  .starRatingsBottom { z-index: 0; }
}

.plusCircle {
  display: none;
  color: rgba(white, 0.3);
  transition: color 0.3s ease-in-out;
  &:hover {
    color: rgba(white, 0.9);
  }
}

.movieBlock {
  &:hover .plusCircle {
    display: inline;
  }
}